<div class='flex h-[100vh] justify-center bg-gray-50'>
    <div class="self-center">
        <h1 class="sm:text-9xl font-bold text-7xl">
            <span class='text-red-500'>4</span>
            <span class='text-yellow-500'>0</span>
            <span class='text-green-500'>4</span>
        </h1>
        <h2 class="sm:text-2xl text-lg m-5">Oops... Page Not Found</h2>
        <a routerLink="/dashboard" class="bg-blue-700 hover:bg-blue-900 font-bold text-white px-5 py-2 rounded-lg m-5">
        GO TO HOME
        </a>
    </div>
</div>
